<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njnu.mapper.CommentMapper">
    <select id="queryComment" resultType="comment">
        select resource_id, username, rate, t_user.`user_id`,content,`date`,avatar from t_comment INNER JOIN t_user WHERE t_comment.`user_id`=t_user.`user_id` and resource_id = #{resourceID}
    </select>
    <insert id="addComment">
        insert into t_comment set resource_id = #{resourceID}, user_id = #{userID}, content = #{content}, `date` = #{date}, rate = #{rate}
    </insert>
</mapper>